@charset "utf-8";


._SUBJECT_ .TABCARDS {border-bottom:1px rgba(127,127,127,.3) solid;}
._SUBJECT_ .TABCARDS > label {float:left; margin:0 .5em; cursor:pointer;}
._SUBJECT_ .TABCARDS > label > span {display:table; position:relative; height:2.6em; line-height:2.6em; padding:0 .5em;}
._SUBJECT_ .TABCARDS > label > span:before {position:absolute; content:""; width:100%; height:3px; left:0; bottom:0;}
._SUBJECT_ .TABCARDS > label > span:before {background:deepskyblue;}
._SUBJECT_ .TABCARDS > label > span {opacity:.6;}
._SUBJECT_ .TABCARDS > label > span:before {opacity:0;}
._SUBJECT_ .TABCARDS > label > input[type="radio"]:checked + span,
._SUBJECT_ .TABCARDS > label > input[type="radio"]:checked + span:before {opacity:1;}


/*._SUBJECT_ .addBtn {display:none;}*/
._SUBJECT_ .addBtn {position:relative; display:none;}
._SUBJECT_ .addBtn.show {display:block;}
._SUBJECT_ .addBtn > .buttonArea {position:absolute; right:0; top:0; height:2.6em;}
._SUBJECT_ .addBtn > .buttonArea > .btn {position:absolute; right:0; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); white-space:nowrap;}
._SUBJECT_ .addBtn > .buttonArea > .btn {height:2em; line-height:2em; padding:0 1em; background:deepskyblue; color:#fff; text-decoration:none;}
._SUBJECT_ .addBtn > .buttonArea > .btn > * {font-size:.9em;}



._SUBJECT_.LIST > .list > ul > li {padding:1.2em 0; border-bottom:1px rgba(127,127,127,.3) solid;}


._SUBJECT_.LIST > .list .subject > .title > * {font-size:1.1em; font-weight:bold; color:rgba(0,0,0,.9);}
._SUBJECT_.LIST > .list .subject > .title > *:hover {color:deepskyblue;}
body.dark ._SUBJECT_.LIST > .list .subject > .title > * {color:rgba(255,255,255,.9);}
body.dark ._SUBJECT_.LIST > .list .subject > .title > *:hover {color:deepskyblue;}


._SUBJECT_.LIST > .list .subject > .content {margin-top:.5em;}
._SUBJECT_.LIST > .list .subject > .content > .content-text > .text {font-size:.9em; opacity:.7;}
._SUBJECT_.LIST > .list .subject > .content > .content-text > .text {display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:3; overflow:hidden;}
._SUBJECT_.LIST > .list .subject > .content.hasMedia > .content-media {float:left; width:13em;}
._SUBJECT_.LIST > .list .subject > .content.hasMedia > .content-media > .media {position:relative; width:100%; padding-bottom:56%; border-radius:.3em; overflow:hidden;}
._SUBJECT_.LIST > .list .subject > .content.hasMedia > .content-media > .media > img {position:absolute; width:100%; left:0; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
._SUBJECT_.LIST > .list .subject > .content.hasMedia > .content-text {margin-left:14em;}
._SUBJECT_.LIST > .list .subject > .content.hasMedia > .content-text > .text {-webkit-line-clamp:6;}
@media screen and (max-width:640px) {
	._SUBJECT_.LIST > .list .subject > .content.hasMedia > .content-media {float:none; width:100%;}
	._SUBJECT_.LIST > .list .subject > .content.hasMedia > .content-text {margin-left:0; margin-top:.3em;}
}


._SUBJECT_.LIST > .list .subject > .user-operate {margin-top:.7em;}
._SUBJECT_.LIST > .list .subject > .user-operate > * {float:left; height:2em; margin-left:1em;}
._SUBJECT_.LIST > .list .subject > .user-operate > *:first-child {margin-left:0;}
._SUBJECT_.LIST > .list .subject > .user-operate > * > .vote {display:table; position:relative; height:2em; line-height:2em; padding:0 .7em; cursor:pointer; border-radius:.3em;}
._SUBJECT_.LIST > .list .subject > .user-operate > * > .vote {padding-left:2em;}
._SUBJECT_.LIST > .list .subject > .user-operate > * > .vote > span {font-size:.9em;}
._SUBJECT_.LIST > .list .subject > .user-operate > * > .vote:before {position:absolute; left:.6em; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
._SUBJECT_.LIST > .list .subject > .user-operate > * > .vote:before {font-family:awesome; content:"\f087"; font-size:1.2em;}
._SUBJECT_.LIST > .list .subject > .user-operate > * > .vote.ex {background:rgba(255,255,255,.05); color:deepskyblue;}
._SUBJECT_.LIST > .list .subject > .user-operate > * > .vote.ed {background:rgba(0,191,255,.85); color:#fff;}
@media screen and (max-width:640px) {
	._SUBJECT_.LIST > .list .subject > .user-operate > * {font-size:.9em; margin-left:.7em;}
}

._SUBJECT_.LIST > .list .subject > .user-operate > *.iconText {display:table;}
._SUBJECT_.LIST > .list .subject > .user-operate > *.iconText > * {display:table-cell; vertical-align:middle;}
._SUBJECT_.LIST > .list .subject > .user-operate > *.iconText > * > * {height:1.5em; line-height:1.5em; cursor:pointer; opacity:.8;}
._SUBJECT_.LIST > .list .subject > .user-operate > *.iconText > * > *:before {font-family:awesome; margin-right:.3em;}
._SUBJECT_.LIST > .list .subject > .user-operate > *.iconText > * > *:before,
._SUBJECT_.LIST > .list .subject > .user-operate > *.iconText > * > * > span {font-size:.95em;}
._SUBJECT_.LIST > .list .subject > .user-operate > *.iconText > * > .comments:before {content:"\f0e5";}
._SUBJECT_.LIST > .list .subject > .user-operate > *.iconText > * > .share:before {content:"\f1e0";}
._SUBJECT_.LIST > .list .subject > .user-operate > *.iconText > * > .collect:before {content:"\f005";}
._SUBJECT_.LIST > .list .subject > .user-operate > *.iconText > * > .comments.open {color:deepskyblue; opacity:1;}
._SUBJECT_.LIST > .list .subject > .user-operate > *.iconText > * > *:hover {opacity:1;}

._SUBJECT_.LIST > .list .subject > .user-comment {padding-top:.7em;}
._SUBJECT_.LIST > .list .subject > .user-comment > .comment { background:rgba(255,255,255,.03); border-radius:.3em; padding:1em;}





