@charset "utf-8";


._TUTORIAL_ > .name {padding:.7em 0; padding-bottom:.3em; margin-bottom:.8em; border-bottom:1px rgba(150,150,150,.5) solid;}
._TUTORIAL_ > .name > span {display:table; position:relative; padding-left:1em; height:2em; line-height:2em;}
._TUTORIAL_ > .name > span:before,
._TUTORIAL_ > .name > span:after {position:absolute; content:""; background:deepskyblue; height:2em; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
._TUTORIAL_ > .name > span:before {left:0; width:.4em;}
._TUTORIAL_ > .name > span:after {left:.5em; width:.15em;}
._TUTORIAL_ > .name > span > b {font-size:1.1em;}
._TUTORIAL_ > .name > span > i {position:absolute; left:100%; margin-left:.5em; font-style:normal; font-weight:bold; white-space:nowrap;}
