@charset "utf-8";
@import url("/PUBLIC/font/awesome/awesome.css?v=0.0.1");
@import url("/PUBLIC/font/icomoon/icomoon.css?v=0.0.1");
@import url("/PUBLIC/font/elegant/elegant.css?v=0.0.1");
/* global.zmean */

/*===== RESET BROWSER DEFAULTS =====*/
html {height:100%;}
body {margin:0; padding:0; width:100%; overflow-x:hidden; height:100%; overflow-y:auto; font-family:"microsoft yahei";}
ul,ol,li,dl,dt,dd,form,label,pre,code,h1,h2,h3,h4,h5,h6,button,input[type="text"],input[type="tel"],input[type="password"],textarea,select,i {margin:0; padding:0; list-style:none; outline:none; font-family:"microsoft yahei";}
img {display:block; border:none;}
a {text-decoration:none; cursor:pointer;}
code {font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;}

/*===== PUBLIC CSS =====*/
.hide {display:none; position:fixed; left:-99999px;}
.tran03 {-webkit-transition:all .3s; -moz-transition:all .3s; -o-transition:all .3s; transition:all .3s;}
input[type="checkbox"].none
,input[type="radio"].none
,input[type="file"].none
,input[type="text"].none {position:fixed; left:-9999px; top:50%;}
._TextOverFlow_ {white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
._Table_ {display:table; height:inherit;}
._Table_ > * {display:table-cell; vertical-align:middle;}
.ABS {position:absolute;}
.ABS.CENTERY {top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.ABS.CENTERX {left:50%; -webkit-transform:translateX(-50%); transform:translateX(-50%);}
.ABS.CENTER {width:100%; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.ABS.CENTER > * {display:table; margin:0 auto;}
.FIXED.top {position:fixed; top:0;}
.FIXED.bottom {position:fixed; bottom:0;}
.clearfix:before,.clearfix:after {content:""; display:table;}
.clearfix:after {clear:both;}
._FS_ {font-size:.4rem;}
@media screen and (max-width:640px) {._FS_ {font-size:.7rem;}}
._MW_ {width:990px; margin:0 auto; position:relative; display:table;}
@media screen and (max-width:990px) {._MW_ {width:100%;}}






















