@charset "utf-8";
@import url("/PUBLIC/font/awesome/awesome.css?v=0.0.1");
@import url("/PUBLIC/font/icomoon/icomoon.css?v=0.0.1");
@import url("/PUBLIC/font/elegant/elegant.css?v=0.0.1");

/*===== RESET BROWSER DEFAULTS =====*/
html {height:100%;}
body {margin:0; padding:0; width:100%; overflow-x:hidden; height:100%; overflow-y:auto; font-family:"microsoft yahei";}
ul,ol,li,dl,dt,dd,form,label,pre,code,h1,h2,h3,h4,h5,h6,button,input[type="text"],input[type="tel"],input[type="password"],textarea,select,i {margin:0; padding:0; list-style:none; outline:none; font-family:"microsoft yahei";}
img {display:block; border:none;}
a {text-decoration:none; cursor:pointer;}
code {font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;}

/*===== PUBLIC CSS =====*/
.hide {display:none; position:fixed; left:-99999px;}
.tran03 {-webkit-transition:all .3s; -moz-transition:all .3s; -o-transition:all .3s; transition:all .3s;}
input[type="checkbox"].none,
input[type="radio"].none,
input[type="file"].none,
input[type="text"].none {position:fixed; left:-9999px; top:50%;}
._TextOverFlow_ {white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
._Table_ {display:table; height:inherit;}
._Table_ > * {display:table-cell; vertical-align:middle;}
.ABS {position:absolute;}
.ABS.CENTERY {top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.ABS.CENTERX {left:50%; -webkit-transform:translateX(-50%); transform:translateX(-50%);}
.ABS.CENTER {width:100%; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.ABS.CENTER > * {display:table; margin:0 auto;}
.FIXED.top {position:fixed; top:0;}
.FIXED.bottom {position:fixed; bottom:0;}
.clearfix:before,.clearfix:after {content:""; display:table;}
.clearfix:after {clear:both;}
._FS_ {font-size:.4rem;}
@media screen and (max-width:640px) {._FS_ {font-size:.7rem;}}
._MW_ {width:1200px; margin:0 auto; position:relative;}
@media screen and (max-width:640px) {._MW_ {width:97%;}}



/*====================================================
------------------------------------------------------
					HEADER
------------------------------------------------------
====================================================*/
._HEADER_,
._HEADER_ > .HEADER,
._HEADER_ > .HEADER .header {height:3.5em;}
@media screen and (max-width:640px) {
	._HEADER_,
	._HEADER_ > .HEADER,
	._HEADER_ > .HEADER .header {height:2.4em;}}
._HEADER_ > .HEADER {position:fixed; width:100%; top:0; left:0; z-index:9;}
._HEADER_ > .HEADER .header > .part {height:100%;}
._HEADER_ > .HEADER .header > .part.left {float:left;}
._HEADER_ > .HEADER .header > .part.right {float:right;}
._HEADER_ > .HEADER .header > .part > *.tab {float:left; display:table; height:100%;}
._HEADER_ > .HEADER .header > .part > *.tab:first-child {margin-left:0;}
._HEADER_ > .HEADER .header > .part > *.tab > * {display:table-cell; vertical-align:middle;}
._HEADER_ > .HEADER .header > .part.left > *.tab {margin-left:1em;}
._HEADER_ > .HEADER .header > .part.left > *.tab.home > * > a {display:block; width:6em; padding-bottom:33.33%;}
@media screen and (max-width:640px) {
	._HEADER_ > .HEADER .header > .part.left > *.tab {margin-left:.3em;}
	._HEADER_ > .HEADER .header > .part.left > *.tab.home > * > a {width:6em;}
}


/*----- POP CLOSE BTN -----*/
._HEADER_ .header .POPCLOSE {display:none; width:100%; height:2.4em;}
._HEADER_ .header .POPCLOSE > label {float:right; position:relative; width:2.4em; height:2.4em;}
._HEADER_ .header .POPCLOSE > label > * {position:absolute; height:2px; width:50%; left:25%; top:50%; margin-top:-1px;}
._HEADER_ .header .POPCLOSE > label > *:nth-of-type(1) {-webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
._HEADER_ .header .POPCLOSE > label > *:nth-of-type(2) {-webkit-transform:rotate(45deg); transform:rotate(45deg);}
@media screen and (max-width:640px) {._HEADER_ .header .POPCLOSE {display:block;}}
/*----- ICON SEARCH -----*/
._HEADER_ .header .ICONSEARCH:before,
._HEADER_ .header .ICONSEARCH:after {position:absolute; content:"";}
._HEADER_ .header .ICONSEARCH:before {width:40%; height:40%; top:20%; left:23%; border-radius:50%;}
._HEADER_ .header .ICONSEARCH:after {width:20%; height:3px; transform:rotate(45deg);}
._HEADER_ .header .ICONSEARCH:after {right:19%; bottom:21%;}



/*------------------------------------
			part left
------------------------------------*/
/*----- header openMenu label -----*/
._HEADER_ .header .openMenu > label {display:none; position:relative; width:2.4em; height:2.4em;}
._HEADER_ .header .openMenu > label > * {position:absolute; width:50%; left:25%; height:2px;}
._HEADER_ .header .openMenu > label > *:nth-of-type(1) {top:30%;}
._HEADER_ .header .openMenu > label > *:nth-of-type(2) {top:50%; margin-top:-1px;}
._HEADER_ .header .openMenu > label > *:nth-of-type(3) {bottom:30%;}
@media screen and (max-width:640px) {._HEADER_ .header .openMenu > label {display:block;}}
/*----- header HEADERMENU -----*/
._HEADER_ .header .HEADERMENU ul li {float:left;}
._HEADER_ .header .HEADERMENU ul li > a {display:block; position:relative; height:2em; line-height:2em; margin:0 1em;}
._HEADER_ .header .HEADERMENU ul li > a > * {font-size:1.05em;}
._HEADER_ .header .HEADERMENU ul li > a.active:before {position:absolute; content:""; width:100%; height:2px; left:0; bottom:0;}
._HEADER_ .header .HEADERMENU ul li > a.active:after {display:none; position:absolute; content:""; width:.25em; height:80%; top:10%; right:100%; margin-right:.5em;}
@media screen and (max-width:640px) {
	._HEADER_ .header .HEADERMENU {position:fixed; background:rgba(0,0,0,.75); width:100%; height:120%; top:0; z-index:21; overflow:hidden;}
	._HEADER_ .header .HEADERMENU > .MENU {width:50%; height:100%;}
	._HEADER_ .header .HEADERMENU ul li {width:100%;}
	._HEADER_ .header .HEADERMENU ul li > a {height:2.2em; line-height:2.2em; margin-left:1.5em; text-align:left;}
	._HEADER_ .header .HEADERMENU ul li > a.active:before {display:none;}
	._HEADER_ .header .HEADERMENU ul li > a.active:after {display:block;}
	._HEADER_ .header .HEADERMENU {-webkit-transition:all .3s; -moz-transition:all .3s; -o-transition:all .3s; transition:all .3s;}
	._HEADER_ .header .HEADERMENU {left:-100%;}
	#HEADERMENU:checked ~ .HEADERMENU {left:0;}
}




/*------------------------------------
			part right
------------------------------------*/
/*----- header openSearch label -----*/
._HEADER_ .header .HEADERSEARCH .openSearch {display:none;}
._HEADER_ .header .HEADERSEARCH .openSearch > label {display:block; float:left; position:relative; width:2em; height:2em; margin-top:.2em;}
@media screen and (max-width:640px) {._HEADER_ .header .HEADERSEARCH .openSearch {display:block;}}
/*----- header HEADER SEARCH -----*/
._HEADER_ .header .HEADERSEARCH .put {position:relative; padding-right:2em;}
._HEADER_ .header .HEADERSEARCH .put > input {float:right; font-size:.95em; height:2em; outline:none; border-radius:.2em; text-indent:.5em; border:none;}
._HEADER_ .header .HEADERSEARCH .put > .searchBtn {position:absolute; top:0; right:0; width:2em; height:100%; cursor:pointer; z-index:1;}
@media screen and (max-width:640px) {
	._HEADER_ .header .HEADERSEARCH .search {position:fixed; background:rgba(0,0,0,.75); width:100%; height:120%; left:0; z-index:21; overflow:hidden;}
	._HEADER_ .header .HEADERSEARCH .search .form {padding-bottom:2.4em;}
	._HEADER_ .header .HEADERSEARCH .search {top:2.4em; visibility:hidden; opacity:0;}
	#SEARCH:checked ~ .search {top:0; visibility:visible; opacity:1;}
}



._HEADER_ .header .HEADERUSR .usr > * {margin:0 .2em;}

._HEADER_ .header .HEADERUSR .LOGREG > ul {display:-webkit-box; display:box;}
._HEADER_ .header .HEADERUSR .LOGREG > ul > li {border-left:1px #ccc solid;}
._HEADER_ .header .HEADERUSR .LOGREG > ul > li:first-child {border-left:none;}
._HEADER_ .header .HEADERUSR .LOGREG > ul > li > a {display:block; margin:0 .5em;}

._HEADER_ .header .HEADERUSR .USET {position:relative; width:3em; height:3em;}
._HEADER_ .header .HEADERUSR .USET > .avatar {position:absolute; z-index:1;}
._HEADER_ .header .HEADERUSR .USET > .avatar {width:70%; height:70%; left:15%; top:15%;}
@media screen and (max-width:640px) {
	._HEADER_ .header .HEADERUSR .USET {width:2.4em; height:2.4em;}
	._HEADER_ .header .HEADERUSR .USET > .avatar {width:86%; height:86%; left:7%; top:7%;}
}
._HEADER_ .header .HEADERUSR .USET > .avatar > label {display:block; position:relative; width:100%; height:100%; cursor:pointer;}
._HEADER_ .header .HEADERUSR .USET > .avatar > label > * {position:absolute; width:100%; height:100%; text-align:center; border-radius:50%; overflow:hidden;}
._HEADER_ .header .HEADERUSR .USET > .avatar > label > * {line-height:2em;}
._HEADER_ .header .HEADERUSR .USET > .avatar > label > *.default {z-index:1;}
._HEADER_ .header .HEADERUSR .USET > .avatar > label > *.usrhead {z-index:2;}
._HEADER_ .header .HEADERUSR .USET > .avatar > label > *.default:before {font-family:icomoon; content:"\e971"; font-size:1.5em;}
._HEADER_ .header .HEADERUSR .USET > .avatar > label > *.usrhead > img {width:100%; height:100%;}

._HEADER_ .header .HEADERUSR .USET > .bg {position:fixed; z-index:2; top:0; right:0; bottom:0; left:0;}
._HEADER_ .header .HEADERUSR .USET > .bg > label {display:block; background:rgba(0,0,0,.1); width:100%; height:100%;}

._HEADER_ .header .HEADERUSR .USET > .uset {position:absolute; z-index:3; top:100%; right:0;}
._HEADER_ .header .HEADERUSR .USET > .uset > ul {display:block; min-width:6em; background:rgba(0,0,0,.8);}
._HEADER_ .header .HEADERUSR .USET > .uset > ul > li {border-top:1px rgba(255,255,255,.05) solid;}
._HEADER_ .header .HEADERUSR .USET > .uset > ul > li:first-child {border-top:0;}
._HEADER_ .header .HEADERUSR .USET > .uset > ul > li > a {display:block; position:relative; height:2.5em; line-height:2.5em; padding-left:2.8em; white-space:nowrap; padding-right:1.2em;}
._HEADER_ .header .HEADERUSR .USET > .uset > ul > li > a.u:before {position:absolute; font-size:1.3em; width:1.9em; height:1.9em; line-height:1.9em; left:.4em; top:0; text-align:center;}
._HEADER_ .header .HEADERUSR .USET > .uset > ul > li > a.u:before {font-family:awesome;}
._HEADER_ .header .HEADERUSR .USET > .uset > ul > li > a.u.center:before {content:"\f007";}
._HEADER_ .header .HEADERUSR .USET > .uset > ul > li > a.u.set:before {content:"\f013";}
._HEADER_ .header .HEADERUSR .USET > .uset > ul > li > a.u.signout:before {content:"\f08b";}
._HEADER_ .header .HEADERUSR .USET > .uset > ul > li > a.u {opacity:.8;}
._HEADER_ .header .HEADERUSR .USET > .uset > ul > li > a.u:hover {opacity:1;}

._HEADER_ .header .HEADERUSR .USET > .bg,
._HEADER_ .header .HEADERUSR .USET > .uset {opacity:0; visibility:hidden;}
#USRHEAD:checked ~ .bg,
#USRHEAD:checked ~ .uset {opacity:1; visibility:visible;}



/*----------------------
		SETS
----------------------*/
/*
._HEADER_ .header .hrs > *.sets .set .setList ul li {display:none;}
._HEADER_ .header .hrs > *.sets .set .setList ul li:first-child {display:block;}
@media screen and (max-width:640px) {
	._HEADER_ .header .hrs > *.sets .dots {position:relative; display:block; width:2em; height:2.4em;}
	._HEADER_ .header .hrs > *.sets .dots > * {position:absolute; display:block; width:.3em; height:.3em; left:50%; margin-left:-.15em; background:#444; border-radius:50%;}
	._HEADER_ .header .hrs > *.sets .dots > *:nth-of-type(1) {top:22%;}
	._HEADER_ .header .hrs > *.sets .dots > *:nth-of-type(2) {top:50%; margin-top:-.15em;}
	._HEADER_ .header .hrs > *.sets .dots > *:nth-of-type(3) {bottom:22%;}
	._HEADER_ .header .hrs > *.sets .set {position:relative; opacity:0; visibility:hidden;}
	._HEADER_ .header .hrs > *.sets .set .bg {position:fixed; width:100%; height:100%; left:0; top:0; background:rgba(0,0,0,0); z-index:11;}
	._HEADER_ .header .hrs > *.sets .set .setList {position:absolute; top:0; right:0; z-index:12;}
	._HEADER_ .header .hrs > *.sets .set .setList {width:16em;}
	._HEADER_ .header .hrs > *.sets .set .setList ul {display:block; padding:.5em; border:1px #ddd solid; border-top:none; background:#fff;}
	._HEADER_ .header .hrs > *.sets .set .setList ul li {border-top:1px #eee solid; padding:.4em;}
	._HEADER_ .header .hrs > *.sets .set .setList ul li {display:block;}
	._HEADER_ .header .hrs > *.sets .set .setList ul li:first-child {border-top:none;}
	._HEADER_ .header .hrs > *.sets .set .setList ul li:before {float:left;}
	._HEADER_ .header .hrs > *.sets .set .setList ul li.darkSwitch:before {content:"夜晚模式";}
	._HEADER_ .header .hrs > *.sets .set .setList ul li.fontSize:before {content:"字体大小";}
	._HEADER_ .header .hrs > *.sets .set .setList ul li > div {float:right;}
	body.DARK ._HEADER_ .header .hrs > *.sets .dots > * {background:#eee;}
	body.DARK ._HEADER_ .header .hrs > *.sets .set .setList ul {border:1px #444 solid; background:rgba(0,0,0,.8); border-top:none;}
	body.DARK ._HEADER_ .header .hrs > *.sets .set .setList ul li {border-top:1px #444 solid;}
	body.DARK ._HEADER_ .header .hrs > *.sets .set .setList ul li:first-child {border-top:none;}
	input[type="checkbox"]#SET:checked + .set {opacity:1; visibility:visible;}
}
*/
/*----------------------
		USRS
----------------------*/
/*._HEADER_ .header .hrs > *.usrs {margin:0 .5em;}*/
/*-- 登录前 --
._HEADER_ .header .hrs > *.usrs .usr.ex > ul {display:table;}
._HEADER_ .header .hrs > *.usrs .usr.ex > ul > li {float:left; padding:0 .3em; border-left:1px #999 solid;}
._HEADER_ .header .hrs > *.usrs .usr.ex > ul > li:first-child {border-left:none;}
*/
/*-- 登录后 --
._HEADER_ .header .hrs > *.usrs .usr.ed .usets {position:relative; width:2em; height:3em;}
*/
/* 头像 
._HEADER_ .header .hrs > *.usrs .usr.ed .usets label.avatar {display:block; position:relative; width:100%; height:100%; cursor:pointer;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets label.avatar > * {position:absolute; background:rgb(180,180,180,.08); width:100%; height:2em; left:0; top:.5em; border-radius:.3em; overflow:hidden;}
*/
/* 头像 - 有图片 
._HEADER_ .header .hrs > *.usrs .usr.ed .usets label.avatar > *.img {z-index:2;}
*/
/* 头像 - 无图片-区分男女 
._HEADER_ .header .hrs > *.usrs .usr.ed .usets label.avatar > *.sex {z-index:1; line-height:2em; text-align:center;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets label.avatar > *.sex:before {font-family:elegant; font-size:1.7em;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets label.avatar > *.sex.male:before {content:"\e040";}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets label.avatar > *.sex.female:before {content:"\e041";}
*/
/* 用户设置 
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .bg {position:fixed; z-index:2; visibility:hidden;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .bg {width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,0);}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset {position:absolute; z-index:3; visibility:hidden; opacity:0;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset {top:100%; right:0; padding:.3em .7em;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul {min-width:7em;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li {height:2em; line-height:2em; border-top:1px #eee solid;}
body.DARK ._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li {border-top:1px #444 solid;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li:first-child {border-top:none;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li > a.u {display:block; height:100%; color:#333; overflow:hidden;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li > a.u:before {float:left; width:1.8em; height:1.8em; text-align:center; line-height:1.8em; font-family:icomoon; font-size:1.1em;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li > a.u:after {float:right;}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li > a.u.center:before {content:"\e976";}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li > a.u.center:after {content:"用户中心";}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li > a.u.edit:before {content:"\e994";}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li > a.u.edit:after {content:"设置";}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li > a.u.signout:before {content:"\e9b6";}
._HEADER_ .header .hrs > *.usrs .usr.ed .usets .uset > ul > li > a.u.signout:after {content:"退出";}
input[type="checkbox"]#USRHEAD:checked + .bg,
input[type="checkbox"]#USRHEAD:checked + .bg + .uset {visibility:visible; opacity:1;}
@media screen and (max-width:640px) {
	._HEADER_ .header .hrs > *.usrs .usr.ex {position:fixed; left:-99999px;}
}
*/



























